body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat-Black";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat-Black";
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* .logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.logo {
    height: 50px;
} */

/* # = id type */
#title {
  background-color: #2b2829;
  color: #fff;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
}

#container {
  background-color: #2b2829;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navbar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 2rem;
  font-family: "Montserrat-light";
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */
/* . = class type */
.tindog-image {
  margin-bottom: 50px;
  transform: scale(1.2);
  width: 110%;
  /* transform: rotate(0deg); */
  position: absolute;
  top: -55%;
  right: 10%;
}

@media (max-width: 995px) {
  .tindog-image {
    margin-bottom: 90px;
    transform: scale(1.8) rotate(0deg);
    padding: 5% 5%;
    position: static; /* the image static is back to the flow of the html*/
    text-align: center;
    padding-bottom: 4rem;
    width: 500px;
  }
}

.natours-image {
  margin-top: 50px;
  transform: scale(1.2);
  width: 110%;
  /* transform: rotate(0deg); */
  position: absolute;
  top: -70%;
  right: 0%;
}

@media (max-width: 995px) {
  .natours-image {
    margin-top: 90px;
    transform: scale(1.8) rotate(0deg);
    padding: 5% 5%;
    padding-top: 4rem;
    position: static;
    text-align: center;
    width: 500px;
  }
}

.guess_my_number-image {
  margin-bottom: 50px;
  transform: scale(1.2);
  width: 110%;
  /* transform: rotate(0deg); */
  position: absolute;
  top: -55%;
  right: 10%;
}

@media (max-width: 995px) {
  .guess_my_number-image {
    margin-bottom: 110px;
    transform: scale(1.8) rotate(0deg);
    padding: 5% 5%;
    padding-bottom: 4rem;
    position: static;
    text-align: center;
    width: 500px;
  }
}

.pig_game-image {
  margin-top: 50px;
  transform: scale(1.2);
  width: 110%;
  /* transform: rotate(0deg); */
  position: absolute;
  top: -65%;
  right: 0%;
}

@media (max-width: 995px) {
  .pig_game-image {
    margin-top: 90px;
    transform: scale(1.8) rotate(0deg);
    padding: 5% 5%;
    padding-top: 4rem;
    position: static;
    text-align: center;
    width: 500px;
  }
}

.bankist-image {
  margin-bottom: 50px;
  transform: scale(1.2);
  width: 110%;
  /* transform: rotate(0deg); */
  position: absolute;
  top: -50%;
  right: 10%;
}

@media (max-width: 995px) {
  .bankist-image {
    margin-bottom: 90px;
    transform: scale(1.8) rotate(0deg);
    padding: 5% 5%;
    padding-bottom: 4rem;
    position: static;
    text-align: center;
    width: 500px;
  }
}

.bankist_interface-image {
  margin-top: 50px;
  transform: scale(1.2);
  width: 110%;
  /* transform: rotate(0deg); */
  position: absolute;
  top: -40%;
  right: 0%;
}

@media (max-width: 995px) {
  .bankist_interface-image {
    margin-top: 90px;
    transform: scale(1.8) rotate(0deg);
    padding: 5% 5%;
    padding-top: 4rem;
    position: static;
    text-align: center;
    width: 500px;
  }
}

.yufood-image {
  margin-bottom: 50px;
  transform: scale(1.2);
  width: 110%;
  /* transform: rotate(0deg); */
  position: absolute;
  top: -20%;
  right: 10%;
}

@media (max-width: 995px) {
  .yufood-image {
    margin-bottom: 90px;
    transform: scale(1.8) rotate(0deg);
    padding: 5% 5%;
    padding-bottom: 4rem;
    position: static;
    text-align: center;
    width: 500px;
  }
}

.expenses-image {
  margin-top: 50px;
  transform: scale(1.2);
  width: 110%;
  /* transform: rotate(0deg); */
  position: absolute;
  top: -250px;
  right: 0%;
  max-width: 100%;
}

@media (max-width: 3000px) {
  .expenses-image {
    top: -300px;
  }
}

@media (max-width: 2200px) {
  .expenses-image {
    top: -200px;
  }
}

@media (max-width: 1800px) {
  .expenses-image {
    top: -150px;
  }
}

@media (max-width: 1400px) {
  .expenses-image {
    top: -100px;
  }
}

@media (max-width: 995px) {
  .expenses-image {
    margin-top: 90px;
    transform: scale(1.8) rotate(0deg);
    padding: 10% 5%;
    padding-top: 6rem;
    position: static;
    text-align: center;
    width: 500px;
  }
}

.yu-restaurant-image {
  margin-bottom: 50px;
  transform: scale(1.2);
  width: 110%;
  /* transform: rotate(0deg); */
  position: absolute;
  top: -100px;
  right: 10%;
}

@media (max-width: 3000px) {
  .yu-restaurant-image {
    top: -220px;
  }
}

@media (max-width: 2600px) {
  .yu-restaurant-image {
    top: -200px;
  }
}

@media (max-width: 2200px) {
  .yu-restaurant-image {
    top: -180px;
  }
}

@media (max-width: 2200px) {
  .yu-restaurant-image {
    top: -150px;
  }
}

@media (max-width: 1800px) {
  .yu-restaurant-image {
    top: -120px;
  }
}

@media (max-width: 1400px) {
  .yu-restaurant-image {
    top: -50px;
  }
}

@media (max-width: 1200px) {
  .yu-restaurant-image {
    top: 0px;
  }
}

@media (max-width: 995px) {
  .yu-restaurant-image {
    margin-bottom: 90px;
    transform: scale(1.8) rotate(0deg);
    padding: 10% 5%;
    padding-bottom: 6rem;
    position: static;
    text-align: center;
    width: 500px;
  }
}

.title-image {
  width: 110%;
  transform: rotate(-15deg);
  position: absolute;
  top: -10%;
  right: 10%;
}

/* Features section */
#features {
  padding: 15% 15%;
  background-color: #fff;
  position: relative;
}

@media (max-width: 995px) {
  #features {
    text-align: center;
  }
}

#features-2 {
  padding: 15% 15%;
  background-color: rgba(113, 165, 113, 0.445);
  position: relative;
}

@media (max-width: 995px) {
  #features-2 {
    text-align: center;
  }
}

#features-3 {
  padding: 15% 15%;
  background-color: #fff;
  position: relative;
}

@media (max-width: 995px) {
  #features-3 {
    position: static;
    text-align: center;
    width: 100%;
  }
}

#features-4 {
  padding: 15% 15%;
  background-color: rgba(113, 165, 113, 0.445);
  position: relative;
}

@media (max-width: 995px) {
  #features-4 {
    position: static;
    text-align: center;
    width: 100%;
  }
}

#features-5 {
  padding: 15% 15%;
  background-color: #fff;
  position: relative;
}

@media (max-width: 995px) {
  #features-5 {
    position: static;
    text-align: center;
    width: 100%;
  }
}

#features-6 {
  padding: 15% 15%;
  background-color: rgba(113, 165, 113, 0.445);
  position: relative;
}

@media (max-width: 995px) {
  #features-6 {
    position: static;
    text-align: center;
    width: 100%;
  }
}

#features-7 {
  padding: 15% 15%;
  background-color: #fff;
  position: relative;
}

@media (max-width: 995px) {
  #features-7 {
    position: static;
    text-align: center;
    width: 100%;
  }
}

#features-8 {
  padding: 15% 15%;
  background-color: rgba(113, 165, 113, 0.445);
  position: relative;
  overflow: hidden;
}

@media (max-width: 995px) {
  #features-8 {
    position: static;
    text-align: center;
    width: 100%;
  }
}

#features-9 {
  padding: 15% 15%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

@media (max-width: 995px) {
  #features-9 {
    position: static;
    text-align: center;
    width: 100%;
  }
}

.feature-box {
  text-align: center;
  padding: 5%;
}

/* Footer Section */
#footer {
  background-color: #2b2829;
  padding: 10% 15%;
  text-align: center;
}

.social-icon {
  padding: 10px;
  margin: 20px 10px;
  scale: 2;
}
